<head>

<link href="/css/main.css" rel="stylesheet">
<title>
Math App by Tonya Jennings	
</title>
</head>

<body>
	<div class = "body_style">
	<%=yield%>
	</div>
</body>

<footer>
<div class="footer-text">
	Tonya Jennings
	<br>	
	Kenna, WV	
	</div>
</footer>
Received much help from Anita King!
