body {
	color: yellow;
	background-image: url(/../img/math_background.jpg);
	font-size: 30;
	font-weight: bold;
	position: fixed;
	text-align: center;
}

footer {
  	border-top: solid;
  	border-color: black;
  	text-align: center;
  	position: fixed;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 20%;
}

.body_style {
	top: 80%;
	text-align: center;
	position: relative;
	transform: translateX(25%);
}

.footer-text {
	font-size: 16;
	text-align: center;
	position: relative;
	transform: translateY(100%);
}
