<script src="/js/jsscripts_math.js">
</script>
<br>
<br>
Please enter a number, choose an action, and enter another number.
<br>
<br>
<form method="post" action="numbers" id="number_input">
	<input type= "number" name="num1_provided" id="num1" required>
  	<select name="action_provided" id="action">
  			<option name="action_provided" action="+">+</option>
  			<option name="action_provided" action="-">-</option>
  			<option name="action_provided" action="*">*</option>
  			<option name="action_provided" action="/">/</option>
	</select>
	<!-- <input type= "text" name="action_provided" id="action" required> WHAT IF SOMEONE ENTERS RANDOM TEXT????-->
	<input type= "number" name="num2_provided" id="num2" required>
	<button = "submit" onclick="mathAlert()" > Try It! </button>
	
</form>

<!-- <p>
Hello! Please enter two numbers.
</p>
 -->
<!-- <form method="post" action="numbers" id="firstnmbr" id="secondnmbr">
First name:<br>
<input type="integer" name="[]" required="">
<br>
Last name:<br>
<input type="integer" name="lastnames[]" required="">
<br><br>
<button type="button" onclick="addMathOperator()">Choose Math Operator</button>
<input type="submit">
</form>
 -->

